<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <lalamove>
                <model>Magenest\LalaMove\Model\Carrier\LalaMove</model>
                <active>0</active>
                <test_mode>0</test_mode>
                <title>Lalamove</title>
                <name>lalamove</name>
                <price_type>0</price_type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <sallowspecific>0</sallowspecific>
                <production_api>https://rest.lalamove.com</production_api>
                <sandbox_api>https://rest.sandbox.lalamove.com</sandbox_api>
            </lalamove>
        </carriers>
    </default>
</config>
