<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_ReservationStockUi extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package Magenest_ReservationStockUi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenest_ReservationStockUi">
        <sequence>
            <module name="Magento_InventorySalesApi" />
            <module name="Magento_InventorySalesAdminUi" />
            <module name="Magento_InventoryReservations" />
        </sequence>
    </module>
</config>
