<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_commit_after">
        <observer name="magenest_shipment_submit_online" instance="Magenest\RealShippingMethod\Observer\Shipment\SaveDetails"/>
        <observer name="sync_erp_order" instance="Magenest\FastErp\Observer\SyncErpOrder"/>
        <observer name="magenest_shipping_packed_order" instance="Magenest\RealShippingMethod\Observer\Shipment\SubmitPackedShipment"/>
    </event>
</config>
