<input type="hidden" name="invoiceNo" value="">
<input type="hidden" name="amount" value=""/>
<input type="hidden" name="currency" value="VND"/>
<input type="hidden" name="goodsNm" value=""/>
<input type="hidden" name="buyerPhone" value="">
<input type="hidden" name="buyerAddr" value="">
<input type="hidden" name="buyerCity" value="">
<input type="hidden" name="buyerState" value=""/>
<input type="hidden" name="buyerPostCd" value=""/>
<input type="hidden" name="buyerCountry"/>
<input type="hidden" name="fee" value=""/>
<input type="hidden" name="receiverFirstNm" value="">
<input type="hidden" name="receiverLastNm" value="">
<input type="hidden" name="receiverPhone" value="">
<input type="hidden" name="receiverAddr" value="">
<input type="hidden" name="receiverCity" value="">
<input type="hidden" name="receiverState" value=""/>
<input type="hidden" name="receiverPostCd" value=""/>
<input type="hidden" name="receiverCountry" value="VN"/>
<input type="hidden" name="description" value=""/>
    <!-- Call Back URL -->
<input type="hidden" name="callBackUrl" value=""/>
<!-- Notify URL -->
<input type="hidden" name="notiUrl" value="">
<input type="hidden" name="merId" value=""/>
<input type="hidden" name="reqDomain" value=""/>
<input type="hidden" name="userLanguage" value="VN"/>
<input type="hidden" name="merchantToken" value=""/>
<input type="hidden" name="payToken" id="payToken" value=""/>
<input type="hidden" name="timeStamp" value=""/>
<input type="hidden" name="merTrxId"/>
<input type="hidden" name="windowType" value="1"/>
<input type='hidden' name='windowColor' value='#0B3B39'/>
<input type="hidden" name="vaCondition" value="03"/>
<input type="hidden" name="userId" id="userId" value=""/>
<input type="hidden" name="buyerLastNm" value="">
<input type="hidden" name="buyerFirstNm" value="">
<input type="hidden" name="buyerEmail" value=""/>
<input type="hidden" name="payType" value="NO"/>
