<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Aheadworks_AdvancedReports::main" title="Advanced Reports by aheadWorks" sortOrder="999">
                        <resource id="Magenest_CustomAdvancedReports::reports_salespersonoverview" title="Sales Person Overview" sortOrder="90" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
