<?xml version="1.0"?>
<!--
/**
* Copyright 2016 aheadWorks. All rights reserved.
* See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <aw_advancedreports>
            <category_group>
                <field>{"C\u00e0 Ph\u00ea":["3","204","210"],"M\u00e1y m\u00f3c thi\u1ebft b\u1ecb":["4"],"C\u00f4ng c\u1ee5 d\u1ee5ng c\u1ee5":["30"],"Nguy\u00ean ph\u1ee5 li\u1ec7u":["5"]}</field>
            </category_group>
        </aw_advancedreports>
    </default>
</config>
