<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\ResourceModel\Order\Collection">
        <plugin name="add_telephone_field" type="Magenest\OrderManagement\Plugin\AddTelephoneToOrderCollection" />
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="add_additional_extensions_attribute" type="Magenest\OrderManagement\Plugin\Order\AddAdditionalExtensionAttribute"/>
    </type>
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="add_additional_extensions_attribute_list" type="Magenest\OrderManagement\Plugin\Order\AddAdditionalExtensionAttribute"/>
    </type>
</config>
