<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="order_source" translate="label" type="button" sortOrder="90" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Order Source</label>
            <tab>magenest</tab>
            <resource>Magenest_OrderSource::order_source_configuration</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="options" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Order Source Options</label>
                    <frontend_model>Magenest\OrderSource\Block\System\Form\Field\OrderSource</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
