<div class="review-popup-close">
    <i class="fa fa-times"></i>
</div>
<div class="review-popup-overplay"></div>
<div class="review-popup-content">
    <div class="review-image">
        <img src="https://images.unsplash.com/photo-1570037556278-f392ae0456b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Customer photo review"/>
    </div>
    <div class="review-container">
        <div class="popup-review-title">
            <div class="review-image-author">
                <strong itemprop="author">Rasamee</strong>
                <div class="purchase-text">Verified purchase<span><i class="fa fa-check-circle"></i></span></div>
                <div class="review-image-time">
                    <time itemprop="datePublished" datetime="20/09/2019">20/09/2019</time>
                </div>
                <div class="review-ratting">
                    <div class="review-ratings">
                        <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <span class="label rating-label"><span>100</span></span>
                            <div class="rating-result" title="100%">
                                <meta itemprop="worstRating" content = "1"/>
                                <meta itemprop="bestRating" content = "100"/>
                                <span style="width:100%">
                                    <span itemprop="ratingValue">100%</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-social-share">
                <div class="social-item">
                    <a data-share="facebook"
                       href="#"
                       onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
                       title="Share Facebook"
                       class="btn btn-facebook btn-social-icon"
                    >
                        <i class="fa fa-facebook-f"></i>
                    </a>
                </div>
                <div class="social-item">
                    <a class="btn btn-twitter btn-social-icon twitter-share-button"
                       href="#"
                       onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
                       title="Share Twitter"
                    >
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="review-content" itemprop="description">
            Rasamee Test
        </div>
        <div class="popup-pros-cons">
            <div class="pros-container">
                <div class="pros-icon left-icon">
                    <i class="fa fa-plus-circle"></i>
                </div>
                <div class="pros-content pros-cons-content">
                    Good
                </div>
            </div>
            <div class="cons-container">
                <div class="cons-icon left-icon">
                    <i class="fa fa-minus-circle"></i>
                </div>
                <div class="cons-content pros-cons-content">
                    Bad
                </div>
            </div>
        </div>
    </div>
</div>