<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sold_quantity>
            <general>
                <enable>0</enable>
                <initial_sold>0</initial_sold>
            </general>
        </sold_quantity>
    </default>
</config>
