<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
        <add id="Magenest_AffiliateClickCount::magenest_affiliateclickcount_affiliate" title="Affiliate Click Count" module="Magenest_AffiliateClickCount" sortOrder="9999" action="magenest_affiliateclickcount/affiliate/" resource="Magenest_AffiliateClickCount::magenest_affiliateclickcount_affiliate" parent="Magenest_Affiliate::affiliate"/>
	</menu>
</config>
