<div class="promotion-slider-banner">
    <div class="slider owl-carousel">
        <div class="item">
            <img src="{{view url='images/promotions/banner.jpg'}}"/>
        </div>
        <div class="item">
            <img src="{{view url='images/promotions/banner.jpg'}}"/>
        </div>
        <div class="item">
            <img src="{{view url='images/promotions/banner.jpg'}}"/>
        </div>
    </div>
    <div class="slider-banner-title">Chương Trình Khuyến Mãi</div>
</div>
<div class="promotion-banner">
    <img src="{{view url='images/promotions/banner4.jpg'}}"/>
    <div class="h5-mi-mob-wh">Cà phê rang xay giảm đến 40%</div>
</div>
{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="12" template="Magenest_Cms::widget/grid-2rows.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`10`^]^]"}}
<div class="promotion-banner">
    <img src="{{view url='images/promotions/banner2.jpg'}}"/>
    <div class="h5-mi-mob-wh">Cà phê thượng hạng giảm đến 40%</div>
</div>
{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="12" template="Magenest_Cms::widget/grid-2rows.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`15`^]^]"}}
<div class="promotion-banner">
    <img src="{{view url='images/promotions/banner3.jpg'}}"/>
    <div class="h5-mi-mob-wh">Cà phê đẳng cấp giảm đến 40%</div>
</div>
{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="12" template="Magenest_Cms::widget/grid-2rows.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`11`^]^]"}}