<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <vnpt_epay>
                <model>PaymentFacade</model>
                <active>1</active>
                <title>VNPT EPay Payment</title>
                <payment_action>order</payment_action>
                <can_use_internal>1</can_use_internal>
                <order_status>pending</order_status>
                <test_encode_key></test_encode_key>
                <test_key3ds_encrypt></test_key3ds_encrypt>
                <test_key3ds_decrypt></test_key3ds_decrypt>
                <test_canceltrans_url>https://sanbox.megapay.vn:2810/pg_was/cancel/paymentCancel.do</test_canceltrans_url>
                <test_cancel_password></test_cancel_password>
                <is_test>1</is_test>
                <test_merchant_id>EPAY000001</test_merchant_id>
                <test_domain_url>https://sandbox.megapay.vn:2810</test_domain_url>
                <min_order_total>2000</min_order_total>
                <max_order_total>2000000000</max_order_total>
                <can_use_internal>1</can_use_internal>
                <locale>vn</locale>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize_vault>1</can_authorize_vault>
                <can_authorize>1</can_authorize>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>1</can_edit>
                <paymentInfoKeys>merId,userId,cardNo,invoiceNo,resultMsg,payType,trxId,bankId,amountIS</paymentInfoKeys>
                <sort_order>200</sort_order>
                <test_partner_code>PARTNERTEST02</test_partner_code>
                <test_disbursement_url>https://chihoepay.ecollect.vn:3669/Sandbox/PartnerMoneyTransfer</test_disbursement_url>
            </vnpt_epay>
            <vnpt_epay_is>
                <model>PaymentISFacade</model>
                <active>1</active>
                <title>VNPT EPay Installment Payment </title>
                <payment_action>order</payment_action>
                <can_use_internal>1</can_use_internal>
                <order_status>pending</order_status>
                <test_encode_key>rf8whwaejNhJiQG2bsFubSzccfRc/iRYyGUn6SPmT6y/L7A2XABbu9y4GvCoSTOTpvJykFi6b1G0crU8et2O0Q==</test_encode_key>
                <test_canceltrans_url>https://sandbox.megapay.vn:2810/pg_was/cancel/paymentISCancel.do</test_canceltrans_url>
                <is_test>1</is_test>
                <test_merchant_id>EPAY000001</test_merchant_id>
                <test_domain_url>https://sandbox.megapay.vn:2810</test_domain_url>
                <min_order_total>2000</min_order_total>
                <max_order_total>2000000000</max_order_total>
                <can_use_internal>1</can_use_internal>
                <locale>vn</locale>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize_vault>1</can_authorize_vault>
                <can_authorize>1</can_authorize>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_edit>1</can_edit>
                <paymentInfoKeys>merId,userId,cardNo,invoiceNo,resultMsg,payType,trxId,bankId,amountIS</paymentInfoKeys>
                <sort_order>200</sort_order>
                <test_partner_code>PARTNERTEST02</test_partner_code>
                <prefix>IS</prefix>
                <test_installment_bank_listing_url>https://sandbox.megapay.vn:2810/pg_was/api/listbankIS.do</test_installment_bank_listing_url>
            </vnpt_epay_is>
            <vnpt_epay_qrcode>
                <model>QRPaymentFacade</model>
                <active>1</active>
                <title>VNPT EPay QR Code Payment</title>
                <payment_action>order</payment_action>
                <can_use_internal>1</can_use_internal>
                <order_status>pending</order_status>
                <test_encode_key></test_encode_key>
                <is_test>1</is_test>
                <test_merchant_id>EPAY000001</test_merchant_id>
                <test_domain_url>https://sandbox.megapay.vn:2810/pg_was/va/api/registerVA.do</test_domain_url>
                <min_order_total>2000</min_order_total>
                <max_order_total>2000000000</max_order_total>
                <can_use_internal>1</can_use_internal>
                <locale>vn</locale>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize_vault>1</can_authorize_vault>
                <can_authorize>1</can_authorize>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <paymentInfoKeys>merId,userId,cardNo,invoiceNo,resultMsg,payType,trxId,bankId</paymentInfoKeys>
                <sort_order>200</sort_order>
            </vnpt_epay_qrcode>
        </payment>
    </default>
</config>
