<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Config\Source\ListSort">
        <plugin name="sort_collection" type="Magenest\CustomSorting\Plugin\Config\Source\ListSort" />
    </type>

    <type name="Magento\Catalog\Model\Category\Attribute\Source\Sortby">
        <plugin name="sort_collection" type="Magenest\CustomSorting\Plugin\Config\Source\Sortby" />
    </type>
</config>
