<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenest\CustomSource\Block\Product\IsSalableInAreaCode">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="set_area_code_context" type="Magenest\CustomSource\Plugin\SetAreaCodeContext" sortOrder="100"/>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="plugin_check_is_salable_in_area" type="Magenest\CustomSource\Plugin\Catalog\IsSalableProductInArea" sortOrder="1"/>
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="add_context_to_cache_key" type="Magenest\CustomSource\Plugin\AddContextToCacheKey"/>
    </type>

    <preference for="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator"
                type="Magenest\CustomSource\Plugin\QuantityValidatorByArea"/>
    <preference for="Magento\InventoryIndexer\Indexer\IndexStructure"
                type="Magenest\CustomSource\Indexer\IndexStructureWithArea"/>
    <preference for="Magento\InventoryIndexer\Indexer\SelectBuilder"
                type="Magenest\CustomSource\Indexer\SelectBuilderWithArea"/>
    <preference for="Magento\InventoryIndexer\Indexer\IndexHandler"
                type="Magenest\CustomSource\Indexer\IndexHandlerWithArea"/>
    <preference for="Magento\InventoryConfigurableProductIndexer\Indexer\SelectBuilder"
                type="Magenest\CustomSource\Indexer\Configurable\SelectBuilderWithArea"/>
    <type name="Magento\InventoryCatalog\Model\ResourceModel\AddStockDataToCollection">
        <plugin name="add_area_code_filter"
                type="Magenest\CustomSource\Plugin\AddAreaCodeFilter" sortOrder="10"/>
    </type>
    <preference for="Magento\InventoryBundleProductIndexer\Indexer\SelectBuilder"
                type="Magenest\CustomSource\Indexer\Bundle\SelectBuilderWithArea"/>
    <preference for="Magento\InventoryGroupedProductIndexer\Indexer\SelectBuilder"
                type="Magenest\CustomSource\Indexer\Grouped\SelectBuilderWithArea"/>
</config>
