<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="additional_provider" xsi:type="object">Magenest\CouponCode\Model\Rules\AdditionalConfigProvider</item>
                <item name="my_coupon_additional_provider" xsi:type="object">Magenest\CouponCode\Model\Rules\AdditionalConfigMyCoupon</item>
            </argument>
        </arguments>
    </type>
<!--    <type name="Magento\Theme\Block\Html\Topmenu">-->
<!--        <plugin name="coupon_link_top_menu" type="Magenest\CouponCode\Plugin\CouponPage" sortOrder="0" />-->
<!--    </type>-->

    <type name="Magenest\CouponCode\Model\Configurations">
        <arguments>
            <argument name="configurations" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\DefaultApply</item>
                    <item name="sortOrder" xsi:type="string">1</item>
                </item>
                <item name="website_id" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\Website</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
                <item name="customer_group" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\CustomerGroup</item>
                    <item name="sortOrder" xsi:type="string">20</item>
                </item>
                <item name="is_active" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\Active</item>
                    <item name="sortOrder" xsi:type="string">30</item>
                </item>
                <item name="fromdate" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\FromDate</item>
                    <item name="sortOrder" xsi:type="string">40</item>
                </item>
                <item name="todate" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\ToDate</item>
                    <item name="sortOrder" xsi:type="string">50</item>
                </item>
                <item name="usespercoupon" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\UsesPerCoupon</item>
                    <item name="sortOrder" xsi:type="string">60</item>
                </item>
                <item name="usespercustomer" xsi:type="array">
                    <item name="class" xsi:type="object">Magenest\CouponCode\Model\Configurations\UsesPerCustomer</item>
                    <item name="sortOrder" xsi:type="string">70</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="customer-session-data-to-context" type="Magenest\CouponCode\Plugin\CustomerSessionContext" sortOrder="15"/>
    </type>
</config>
