<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="field" css="additionalClasses">
    <div class="directory_information_wrapper" >
        <span class="label" data-bind="i18n: 'City, District, Ward'"></span>
        <input class="input-text" type="text" readonly data-bind="value: fullDirectoryInformation, click: clickOpenDirectory, attr: {'placeholder': $t('Please select city, district and ward')}">
    </div>
    <div class="fieldset" data-bind="visible: isOpenDirectory">
        <each args="data: elems, as: 'element'">
            <render if="hasTemplate()"/>
        </each>
    </div>
    <div class="field-error" id="directory-error" hidden>
        <span data-bind="i18n: 'Please check and select city, district and ward'"></span>
    </div>
</div>
