<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Plugin-->
    <type name="Magento\Sales\Block\Adminhtml\Order\Create\Form\Address">
        <plugin name="magenest_directory" type="Magenest\Directory\Block\Adminhtml\Plugin\Order\Create\Form\Address" />
    </type>
<!--    <type name="Magento\Quote\Model\Quote\Address\CustomAttributeList">-->
<!--        <plugin name="magenest_directory" type="Magenest\Directory\Model\Plugin\Quote\Address\CustomAttributeList" sortOrder="10" />-->
<!--    </type>-->
</config>
