<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<input class="admin__control-text" type="text"
       data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
            maxlength: 255
        },
        mageInit: {
            dynamicPdfSearch: {
                termAjaxArgument: 'query',
                template: '#dynamicPdfSearch',
                minLength: 1,
                source: _autocompleteUrl,
                storageLimit: 1000
            }
        }"/>


<script id="dynamicPdfSearch" type="text/x-magento-template">
    <ul data-mage-init='{"menu":[]}'>
        <% if (data.items.length) { %>
        <% _.each(data.items, function(value){ %>
        <li
        <%= data.optionData(value) %> class="item">
        <a href="#" class="title"><%= value.value %> </a>
        </li>
        <% }); %>
        <% } else if (data.noRecordsText) { %>
        <li class="mage-suggest-no-records">
            <a href="#" class="title">No pdf found.</a>
        </li>
        <% } %>
    </ul>
</script>
