<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rewardpoints>
            <point_config>
                <points_money>10</points_money>
                <valid_used_statuses>complete,processing</valid_used_statuses>
                <points_time_expired>0</points_time_expired>
                <subtract_in_discount>0</subtract_in_discount>
                <earn_apply_point>0</earn_apply_point>
                <earn_apply_discount>0</earn_apply_discount>
                <up_or_down>up</up_or_down>
                <deduct_automatically>0</deduct_automatically>
                <reward_points_description>Each time you shop with us, you automatically get rewarded. With every purchase you make, you can start earning Points to spend on your future purchases. The more you shop, the more points you earn and the more you can use to spend. Buy more, save more!</reward_points_description>
                <landing_page>reward-landing</landing_page>
                <landing_page_in_footer>1</landing_page_in_footer>
                <reward_points_noti>1</reward_points_noti>
                <send_coupon_for_affiliate>rewardpoints_point_config_send_coupon_for_affiliate</send_coupon_for_affiliate>
                <send_coupon_for_birthday>rewardpoints_point_config_send_coupon_for_birthday</send_coupon_for_birthday>
            </point_config>
            <reward_points_display>
                <reward_points_enable>1</reward_points_enable>
            </reward_points_display>
            <view_setting>
                <home_page_product_list_enable>0</home_page_product_list_enable>
                <product_list_enable>1</product_list_enable>
                <product_detail_enable>1</product_detail_enable>
            </view_setting>
            <label_display_setting>
                <text_color>#00000</text_color>
                <suffix>P</suffix>
                <text_size>14</text_size>
            </label_display_setting>
            <reward_tiers>
                <reward_tiers_enable>0</reward_tiers_enable>
            </reward_tiers>
            <spending_configuration>
                <spending_configuration_enable>0</spending_configuration_enable>
                <maximum_point>0</maximum_point>
                <percent_max_order>0</percent_max_order>
            </spending_configuration>
            <email_configuration>
                <point_expiration_notification>
                    <notity_customers_when_they_login>0</notity_customers_when_they_login>
                    <send_before_notify>0</send_before_notify>
                    <point_expiration_email_enable>0</point_expiration_email_enable>
                </point_expiration_notification>
                <update_point_balance_email>
                    <email_balance_enable>0</email_balance_enable>
                </update_point_balance_email>
            </email_configuration>

            <referafriend>
                <referral_code>
                    <referral_code_enable>0</referral_code_enable>
                    <refer_by_link>0</refer_by_link>
                    <refer_path>customer/account/create</refer_path>
                    <code_pattern>[A1][N1][A1][N1][A1][N1]</code_pattern>
                    <referral_person_earner>0</referral_person_earner>
                </referral_code>
                <referral_setting>
                    <refer_via_email>rewardpoints_referafriend_referral_setting_refer_via_email</refer_via_email>
                    <send_coupon_for_refered>rewardpoints_referafriend_referral_setting_send_coupon_for_refered</send_coupon_for_refered>
                    <send_coupon_for_referrer>rewardpoints_referafriend_referral_setting_send_coupon_for_referrer</send_coupon_for_referrer>
                </referral_setting>
            </referafriend>
        </rewardpoints>
    </default>
</config>
