<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Webapi\Controller\Rest">
        <plugin name="rest-api-log" type="SyncIt\ApiRestLog\Plugin\RestApiLog"/>
    </type>
    <type name="Magento\Framework\Webapi\Rest\Response">
        <plugin name="rest-api-log" type="SyncIt\ApiRestLog\Plugin\RestApiLog" />
    </type>
    <type name="SyncIt\ApiRestLog\Model\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="SyncIt\ApiRestLog\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">SyncIt_ApiRestLog</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">SyncIt\ApiRestLog\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
