<!--
/**
 * Copyright © 2020 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_ProductLabel extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package  Magenest_ProductLabel
 */
 -->

<div class="product_label_size">
    <input class="product-range" type="range" min="50" max="150"
           data-bind="
        event: {click: clickProductLabel},
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            value: sizeDefault,
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid
    }"/>
    <span class="product-range-value" data-bind="text: sizeDefault"></span><span>px</span>
</div>
