& when (@media-common = true) {
    .customer-account-edit, .customer-address-form {
        .actions-toolbar {
            margin-left: 0 !important;
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);

            &:before, &:after {
                display: none;
            }

            > .primary, > .secondary {
                float: unset;
                display: block;
                margin: 0;
            }

            .action {
                .lib-vendor-prefix-display(flex) !important;
                .lib-vendor-box-align(center);
                justify-content: center;
                -webkit-justify-content: center;
                .lib-vendor-prefix-flex-wrap(wrap);
                border-radius: 2px;
                height: 41px;
                text-align: center;
                font-size: 14px !important;
                line-height: 16px !important;
                font-weight: 500;
                text-transform: uppercase;
                float: unset;
                margin: 10px 0 0 0 !important;
                padding: 0 15px !important;


                &.save {
                    border: 1px solid #44BA46;
                    margin-right: 15px !important;
                }

                &.back {
                    color: #8F9AA5;

                    &:hover {
                        color: @primary-color;
                    }
                }
            }
        }
    }

    .customer-account-edit {
        .form-edit-account {
            .lib-vendor-prefix-display(flex);

            .fieldset {
                &.field-name-avatar {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(column);
                    .lib-vendor-box-align(center);

                    .profile-image {
                        width: 120px;
                        height: 120px;
                        object-fit: cover;
                        border-radius: 50%;
                    }

                    .avatar-customer-desc {
                        font-size: 13px;
                        line-height: 20px;
                        color: #697180;
                        text-align: center;
                        margin-top: 16px;

                        span {
                            display: block;
                        }
                    }
                }

                .field.choice {
                    clear: both;

                    &:after {
                        content: '';
                        display: table;
                        clear: both;
                    }

                    .value {
                        font-size: 13px;
                        line-height: 20px;
                        font-weight: 500;
                        color: #2C2727;

                        &:before {
                            content: '';
                            display: table;
                            clear: both;
                        }
                    }

                    .label-email, .label-telephone {
                        width: 100%;
                        padding-bottom: 3px;
                    }

                    .value, .label-action, .label-email, .label-telephone {
                        float: left;
                    }

                    .label-action {
                        color: #F16522;
                        font-size: 13px;
                        line-height: 20px;
                        font-weight: 400;
                        text-decoration: underline;
                        padding-left: 10px;
                        cursor: pointer;
                    }

                    .cancel {
                        display: none;
                    }

                    input:checked {
                        ~ .label-action {
                            .change {
                                display: none;
                            }

                            .cancel {
                                display: block;
                            }
                        }
                    }
                }

                &.telephone {
                    .label {
                        display: none !important;
                    }
                }

                &.sex {
                    .field.choice {
                        > .label {
                            padding-bottom: 10px;
                        }

                        .custom-check:after {
                            top: 6px;
                        }
                    }

                    .control {
                        .lib-vendor-prefix-display(flex);

                        > label {
                            margin-right: 24px;
                        }

                        .label {
                            padding-left: 23px;
                            line-height: 25px;
                        }
                    }
                }

                &.date-of-birth {
                    .label {
                        padding-bottom: 10px;
                    }

                    .block-flex {
                        .lib-vendor-prefix-display(flex);
                        justify-content: space-between;
                        -webkit-align-content: space-between;

                        select {
                            width: calc(~'100% / 3 - 7px');
                        }
                    }
                }
            }
        }
    }

    .customer-address-form {
        .fieldset > .field.choice {
            &.set {
                .label {
                    line-height: 26px !important;
                    font-size: 14px !important;
                    font-weight: normal !important;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .customer-account-edit {
        .form-edit-account {
            .fieldset {
                &.field-name-avatar {
                    width: 44%;
                    border-left: 1px solid #E0E6EC;
                    margin-left: 30px;
                    min-width: 230px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {
    .customer-account-edit {
        .form-edit-account {
            .lib-vendor-prefix-flex-direction(column-reverse);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customer-account-edit, .customer-address-form {
        //.page-description {
        //    display: none;
        //}

        .actions-toolbar {
            .action {
                &.back {
                    border: 1px solid #E0E6EC;

                    &:hover {
                        border-color: @primary-color;
                    }
                }
            }
        }
    }

    .customer-account-edit {
        .form-edit-account {
            .fieldset {
                &.info {
                    flex: 1;
                }

                &.field-name-avatar {
                    .avatar-file-upload {
                        border: 1px solid #E0E6EC;
                        border-radius: 2px;
                        padding: 9px 22px 5px;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 500;
                        color: #8F9AA5;
                        text-transform: uppercase;
                        margin-top: 18px;
                        display: block;
                        cursor: pointer;

                        &:hover {
                            color: @primary-color;
                            border-color: @primary-color;
                        }
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-account-edit, .customer-address-form {
        .page-title-wrapper {
            display: none;
        }

        .form-edit-account, .form-address-edit {
            background-color: #FFFFFF;
            border: 1px solid #E0E6EC;
            border-radius: 4px;
            padding: 27px 12px 10px;
        }
    }

    .customer-account-edit {
        .form-edit-account {
            .fieldset {
                &.field-name-avatar {
                    position: relative;
                    margin-bottom: 20px;

                    .avatar-file-upload {
                        font-size: 0;
                        color: transparent;
                        background-color: rgba(255, 255, 255, 0.57);
                        position: absolute;
                        width: 120px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 90px;
                        height: 30px;
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        justify-content: center;
                        -webkit-align-content: center;

                        &:before {
                            content: '';
                            background-image: url("data:image/svg+xml,%3Csvg fill='%2334373D' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M194.6 32H317.4C338.1 32 356.4 45.22 362.9 64.82L373.3 96H448C483.3 96 512 124.7 512 160V416C512 451.3 483.3 480 448 480H64C28.65 480 0 451.3 0 416V160C0 124.7 28.65 96 64 96H138.7L149.1 64.82C155.6 45.22 173.9 32 194.6 32H194.6zM256 384C309 384 352 341 352 288C352 234.1 309 192 256 192C202.1 192 160 234.1 160 288C160 341 202.1 384 256 384z'/%3E%3C/svg%3E");
                            width: 14px;
                            height: 12px;
                            background-position: center;
                            background-size: cover;
                            display: block;
                        }
                    }
                }

                > .field {
                    margin: 0 0 20px;
                }
            }
        }

        .actions-toolbar {
            .lib-vendor-prefix-flex-direction(column);

            > div {
                width: 100%;
            }
        }
    }

    @media (max-width: 479px) {
        .customer-address-form {
            .actions-toolbar {
                > .primary, > .secondary {
                    width: 50%;
                }
            }
        }
    }
}
