<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="review_delete_before">
        <observer name="magenest_review_detail_delete_after" instance="Magenest\PhotoReview\Observer\Review\Deleted"/>
    </event>
</config>