<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <momo_wallet>
                <title>Ví MoMo</title>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <model>MomoWalletFacade</model>
                <currency>VND</currency>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_invoice>1</can_invoice>
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>100</sort_order>
            </momo_wallet>
            <momo_atm>
                <title>Thẻ ATM - Ví MoMo</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <model>MomoATMFacade</model>
                <currency>VND</currency>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_invoice>1</can_invoice>
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>110</sort_order>
            </momo_atm>
            <momo_cc>
                <title>Thẻ Visa/Master - Ví MoMo</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <model>MomoCCFacade</model>
                <currency>VND</currency>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_invoice>1</can_invoice>
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>120</sort_order>
            </momo_cc>
            <momo_vts>
                <title>Ví trả sau - MoMo</title>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <model>MomoVTSFacade</model>
                <currency>VND</currency>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <can_invoice>1</can_invoice>
                <can_order>1</can_order>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <sort_order>130</sort_order>
            </momo_vts>
        </payment>
    </default>
</config>