<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="magenest_advancecart_grand_total" type="Magenest\CustomMiniCart\Plugin\Checkout\CustomerData\Cart" disabled="false"/>
    </type>
    <type name="Magento\Checkout\CustomerData\DefaultItem">
        <plugin name="AddAttPlug" type="Magenest\CustomMiniCart\Plugin\DefaultItem" disabled="false" sortOrder="10"/>
    </type>
</config>
