<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\Affiliate\Model\ResourceModel\Transaction\Grid\Collection" type="Magenest\AffiliateOpt\Model\ResourceModel\Transaction\Grid\Collection"/>
    <type name="Magento\ImportExport\Controller\Adminhtml\Import\Download">
        <plugin name="mp_aff_download_sample" type="Magenest\AffiliateOpt\Plugin\Controller\Adminhtml\ImportDownloadSample" sortOrder="200"/>
    </type>
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <plugin name="mp_aff_export_period" type="Magenest\AffiliateOpt\Plugin\Model\Export\MetadataProvider" sortOrder="200"/>
    </type>
</config>
