<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="affiliate">
            <group id="credit_balance_chart" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Balance Chart</label>
                <field id="background_color" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Background Color</label>
                    <validate>jscolor {hash:true,refine:false}</validate>
                </field>
                <field id="border_color" translate="label comment" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Border Color</label>
                    <validate>jscolor {hash:true,refine:false}</validate>
                </field>
            </group>
        </section>
    </system>
</config>
