<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="price" instance="Magenest\ProductLabel\Model\Observer\Save" />
    </event>
    <event name="catalogrule_rule_save_after">
        <observer name="catalogrule" instance="Magenest\ProductLabel\Model\Observer\CatalogRule" />
    </event>
</config>
