<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\User\Model\ResourceModel\User">
        <plugin name="mgn_security_update_black_list" type="Magenest\Security\Plugin\UpdateBlackList"/>
    </type>
</config>