<!--@subject You might like this  @-->
<!--@vars {
} @-->

{{template config_path="design/email/header_template"}}
<div>
    <div class="greeting"><b>{{trans "Dear %name," name=$name}}</b></div>
    <div>
        <p>{{trans "Below are details about your expiration points on our website"}}</p>
    </div>
</div>
<table style="float:left; width: 100%; margin-right: 10px; border: 1px solid black;">
    <tr>
        <th style="border-right: 1px solid #000">{{trans "Id" }}</th>
        <th style="border-right: 1px solid #000">{{trans "Points Change" }}</th>
        <th style="border-right: 1px solid #000">{{trans "Updated at" }}</th>
        <th style="border-right: 1px solid #000">{{trans "Expire at" }}</th>
        <th>{{trans "Expires in (days)" }}</th>
    </tr>
    <tr>
        <td style="border-right: 1px solid #000">{{trans "%transaction_id" transaction_id=$transaction_id}}</td>
        <td style="border-right: 1px solid #000">{{trans "%points_change" points_change=$points_change}}</td>
        <td style="border-right: 1px solid #000">{{trans "%insertion_date" insertion_date=$insertion_date}}</td>
        <td style="border-right: 1px solid #000">{{trans "%expired_date" expired_date=$expired_date}}</td>
        <td>{{trans "%send_before" send_before=$send_before}}</td>
    </tr>
</table> <br><br>

<div style="text-align: center; margin-top: 20px">
    <p>{{trans "Please update us if anything got you confused, we would be willing to help as soon as possible."}}</p>
</div>
{{template config_path="design/email/footer_template"}}