<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_commit_after">
        <observer name="magenest_save_comment_shipment" instance="Magenest\OrderManagement\Observer\ShipmentSaveComment" />
    </event>
    <event name="sales_order_invoice_save_after">
        <observer name="magenest_save_comment_invoice" instance="Magenest\OrderManagement\Observer\InvoiceSaveComment" />
    </event>
    <event name="admin_sales_order_address_update">
        <observer name="magenest_save_address_edit" instance="Magenest\OrderManagement\Observer\AddressSaveComment" />
    </event>
</config>
