<?xml version="1.0"?>
<!--
  ~ Copyright (c) Magenest, Inc. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magenest_ZaloSupportLive::zalo_support" translate="title" title="Zalo Support Live Chat"/>
            </resource>
        </resources>
    </acl>
</config>