<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--Type-->
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="magenest_custom_catalog" xsi:type="array">
                    <item name="class" xsi:type="string">Magenest\CustomCatalog\Ui\DataProvider\Product\Modifier\Composite</item>
                    <item name="sortOrder" xsi:type="number">600</item>
                </item>
                <item name="custom-options" xsi:type="array">
                    <item name="class" xsi:type="string">Magenest\CustomCatalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions</item>
                    <item name="sortOrder" xsi:type="number">70</item>
                </item>
                <item name="custom-search-engine-optimization" xsi:type="array">
                    <item name="class" xsi:type="string">Magenest\CustomCatalog\Ui\DataProvider\Product\Form\Modifier\CustomSearchEngineOptimization</item>
                    <item name="sortOrder" xsi:type="number">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\ProductVideo\Block\Adminhtml\Product\Edit\NewVideo">
        <plugin name="Magenest_CustomCatalog::new_video" type="Magenest\CustomCatalog\Plugin\Block\Adminhtml\Product\Edit\NewVideo"/>
    </type>
    <preference for="Magento\ProductVideo\Model\Plugin\Catalog\Product\Gallery\CreateHandler" type="Magenest\CustomCatalog\Plugin\Catalog\Product\Gallery\CreateHandler"/>
    <type name="Magenest\CustomCatalog\Controller\Adminhtml\Video\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\VideoUploader</argument>
        </arguments>
    </type>
    <type name="Magenest\CustomCatalog\Plugin\Catalog\Product\Gallery\CreateHandler">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\VideoUploader</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\VideoUploader" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/product/video</argument>
            <argument name="basePath" xsi:type="string">catalog/product/video</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="mp4" xsi:type="string">mp4</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="mp4" xsi:type="string">video/mp4</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magenest\CustomCatalog\Block\Adminhtml\Edit\Tab\Video">
        <arguments>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="mp4" xsi:type="string">mp4</item>
            </argument>
            <argument name="sizeLimit" xsi:type="string">20971520</argument>
        </arguments>
    </type>
</config>
