<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="10">
            <label>Magenest</label>
        </tab>
        <section id="magenest_lazy_loading" translate="label" type="text" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Lazy Loading</label>
            <tab>magenest</tab>
            <resource>Magenest_LazyLoading::LazyLoadingSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Lazy Load default enabled for product list. Compatible with owl-carousel</comment>
                </field>
                <field id="enable_all_image" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable for All Image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Tip: Add ".skip-lazy" class to parent element if the images couldn't lazy loading</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_iframe" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable for All iFrame</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
