<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Form" type="Magenest\PhotoReview\Block\Review\Form" />
    <preference for="Magento\Review\Controller\Product\Post" type="Magenest\PhotoReview\Controller\Product\Post"/>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="product-purchased-customer" xsi:type="string">Magenest\PhotoReview\CustomerData\SaleOrderItemOfCustomer</item>
            </argument>
        </arguments>
    </type>
</config>
